/* CSS Document */
#all{
background-color:#333333;
text-align:center;
}

#page{
background:#FFFFFF;
width:892px;
height:1386px;
position:relative;
margin:0 auto;
text-align:left;
padding:0px 44px;

}
#red{
background-color:#FF6666;
color:#FFFFFF;
width:110px;
height:61px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
#header{
width:892px;
height:64px;
margin:auto;
}
#date{
font-size:12px;
float:right;
color:#d45d5c;
position:relative;
top:45px;
}
#line{
height:2px;
width:892px;
background-color:#938e8c;
}
#pic1{
width:641px;
height:301px;
position:absolute;
left:44px;
top:66px;
}
#green{
background-color:#00FF66;
height:301px;
width:191px;
position:absolute;
left:0;
top:0;
opacity:0.6;
}
#pink{
background-color:#FF66CC;
height:301px;
width:191px;
position:absolute;
right:0;
top:0;
opacity:0.6;
}
#about{
float:right;
}
#www{
position:absolute;
left:44px;
top:370px;
}
.www{
display:inline-block;
height:auto;
width:200px;
font-size:12px;
font-family:"ו";
color:#767777;
line-height:16px;
margin:5px;
opacity:0.7;
}
#what{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
text-decoration:underline;
color:#00FF66;
}

#when{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
text-decoration:underline;
color:#FFCC00;
}
#how{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
text-decoration:underline;
color:#FF3366;
}
#about{
float:right;
width:203px;
height:301px;
line-height:10px;
}
#SEV{
font-size:116px;
color:#75b86b;
font-style:oblique;
margin-top:50px;
}
#css{
margin-top:70px;
display:inline;
}
#cee{
line-height:1px;
display:inline;
float:right;
position:relative;
top:-18px;
}

#second{
position:absolute;
left:44px;
top:600px;
}
#left{
width:415px;
height:auto;
float:left;
display:inline;
}
#title{
color:#11456b;
}
#tec{
font-size:42px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

span{
font-size:72px;
font-style:oblique;
color:#FFFF00;
}
#pic3{
float:right;
margin:5px;
width:170px;
}
#line2{
height:2px;
width:415px;
background-color:#11456b;
}
#para{
padding:15px 0px;
font-size:12px;
font-family:"ו";
color:#767777;
line-height:16px;
}
#qian{
padding:15px 5px;
font-size:70px; 
color:#f5e327; 
font-style:normal;
display:inline;
float:left;
}
#right{
float:right;
width:458px;
height:400px;
display:inline;
margin:30px;
}
#text{
width:459px;
height:330px;
background-color:#FFFFCC;
margin-top:30px;
position:relative;
}
#text1{
margin:25px;
line-height:20px;
font-size:16px;
font-family:"ו";
color:#5a5b5b;
position:relative;
top:30px;
}
#text2{
width:260px;
height:168px;
background-color:#E86467;
position:absolute;
bottom:0;
color:#FFFFFF;
display:inline;
}
#zero{
font-size:130px;
display:inline-block;
}
#line3{
display:inline-block;
width:2px;
height:86px;
background-color:#FFFFFF;
}
#num{
font-size:20px;
display:inline-block;
}
#text3{
display:inline;
float:right;
height:168px;
width:180px;
position:relative;
top:80px;
}
#pic2{
position:relative;
width:458px;
height:275px;
}
#tran{
position:absolute;
bottom:0;
background-color:#999999;
opacity:0.3;
width:458px;
height:61px;
}
#line4{
width:2px;
height:44px;
background-color:#72b16a;
display:inline;
float:left;
position:absolute;
left:10px;
bottom:10px;
}
#txt{
position:absolute;
bottom:10px;
left:15px;
}
#footer{
	width:892px;
	height:61px;
	position:absolute;
	bottom:10px;
}
#line5{
height:2px;
width:892px;
background-color:#938e8c;
position:absolute;
bottom:55px;
}
